<header>
 <img class="logo">
 <nav class="nav__links">
   <li><a href="#">Services</a></li>
   <li><a href="#">Projects</a></li>
   <li><a href="#">About</a></li>
 </nav>
  <a class="cta" href="#"><button>Contact</button></a>
</header>
